	
	body {
		font-family: Arial, serif, sans-serif;
		font-weight: 100;
		font-size: 100%;
		position: relative;
	}

	.body_index {
		font-size: 100%;
		font-weight: 100;
	}
	.body_style {
		font-size: 100%;
		font-weight: 100;
	}
	.subtitle{
		color: #563D7C;
		font-family: "Times New Roman", Times, serif;
		text-align:center;
		font-weight: 100;
		margin-bottom: 2%;
		margin-top: 2%;
		font-size:180%;
		font-style: italic
	}

	strong {
		font-weight: bold;
	}

	
	.content-block{		    
		margin-bottom: 5%;		
	
	}
	.Logo{
		width:40px;
		height:40px;
		float:right;
		margin:0;
	
	}
	#Main-Part{
		margin:0;
	}
	.extra-roles{
		font-size:100%
	
	}
	.sub-skills{
		margin: 0;
	
	}
	
	.yuwei-name{
		font-family: "Times New Roman", Times, serif;
		//font-weight: bold;
		color:#563D7C;
		font-style:italic;
	}

	.robotics{
		font-family: Arial, cursive,sans-serif; 
		font-weight: bold;
		color:#563D7C;
	}


	.papers{
		font-family: Arial, cursive,sans-serif;
	}

	.paper_title{
		font-family: Arial, cursive,sans-serif;
		font-weight: bold;
	}		
	.container.custom-container-width {
		max-width: 850px;       // 980px
	}

	.time-place{
		text-align: right;
	}
	.circular--squareP{
		width:80%;
		height:80%;
		border-radius:0%;
	}

	.circular--img {
		width: auto;  /* Maintain original width */
		height: auto; /* Maintain original height */
		max-width: 100%; /* Prevent overflow */
		display: block; /* Removes extra spacing */
	}

	

	.fa_custom {
			color: #FFD700;
	}	
	.navbar-custom {
			background-color: #FFFFFF;
	}
	.progress{
		width: 30%;
		float:right;
	}
	.skills{margin:10%;}
	.copyright {text-align: center;}
